<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />

    <title>Home</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/global.css" />
    <link rel="stylesheet" href="../stylesheets/index_style.css" />
  </head>
  <body>
    <header>
      <div class="banner">
        <img src="../images/index/Logo acadstem.png" alt="Logo Academia Stem" />
      </div>
    </header>
    <main id="esps_ativos"></main>
    <script src="../javascripts/index_script.js"></script>
  </body>
</html>
