:root {
  --purple-color: #7e08af;
  --blue-color: #014D8F;
  --white-color: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(
    rgb(1, 77, 143, 0.15),
    rgb(104, 171, 48, 0.15)
  );

  overflow-x: hidden;
}

/* HEADER ========================================= */

header {
  display: flex;

  height: 7.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;

  background-image: url("../images/carrinho/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 12.5rem;
  height: fit-content;
}

.header-menu #logo {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.header-menu #back-button {
  background-image: url(../images/manipulador/back-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  width: 3rem;
  height: 3rem;
}

.header-menu h1 {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--blue-color);
}

/* MAIN ========================================= */
section.gif-container {
  display: flex;
  justify-content: center;
}

section.gif-container img {
  width: 19rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
}

section.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 25.87rem;
  margin-bottom: 3.187rem;
}

.monitoring-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 19rem;
  height: 5.375rem;
  padding: 0 2rem;
  
  background: var(--white-color);
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  border-radius: 1rem;

  color: var(--purple-color);
  font-size: 2rem;
}

.on {
  background: var(--purple-color);
  color: var(--white-color);
}


/* DESKTOP ========================================================= */
@media (min-width: 1024px) {
  /* ====================== */
  header {
    align-items: center;

    width: 100vw;
    height: 6rem;
    padding: 0 3rem;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
  }

  .header-menu {
    width: 100vw;
    justify-content: left;
    position: relative;
  }

  .header-menu #back-button {
    background-size: 3rem;
  }

  .header-menu #logo {
    height: 5rem;
    margin-left: 1rem;

    position: static;
    opacity: 1;
    visibility: visible;
  }

  .header-menu h1 {
    font-size: 2rem;
    color: #000000;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* ====================== */
  main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: calc(100vh - 4rem - 6rem);
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  /* ====================== */
  section.gif-container {
    order: 2;
  }

  section.gif-container img { 
    margin: 0;
    width: auto;
    height: 24.5rem;
  }

  /* ====================== */
  section.card-container {
    margin-top: 3rem;
    order: 1;
    justify-content: space-around;
  }

  .monitoring-card {
    width: 15rem;
    height: 5rem;
  }

  .monitoring-card.cart {
    font-size: 1.5rem;
  }

  /* ====================== */
  footer {
    position: absolute;
    bottom: 0;

    height: 4rem;
    width: 100vw;

    background-image: linear-gradient(
      to right,
      rgb(104, 171, 48),
      rgb(1, 77, 143)
    );

    clip-path: ellipse(70% 100% at 50% 100%);
  }
}