.slidercontainer{
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    top: 965px;
    left: 525px;
    width: 10px;
    height: 240px;
    background: #6A7777 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}   
.slider::-webkit-slider-thumb { /* outros browsers */
    -webkit-appearance: none;
    appearance: none;
    top: 1125px;
    left: 514px;
    width: 32px;
    height: 32px;
    border: 0;
    background: url(../images/slider_thumb.svg);
    cursor: pointer;
}    
.slider::-moz-range-thumb { /* firefox */
    top: 1125px;
    left: 514px;
    width: 32px;
    height: 32px;
    background:  /* #2012da; */ url(../images/slider_thumb.svg);
    cursor: pointer;
    border: 0;
    border-radius: 50%;
}

.header{
    font: normal normal bold 24px/28px Orkney;
    color: #014D8F;
    letter-spacing: 0px;
    top: 298px;
    left: 360px;
    /* width: 1097px;
    height: 62px; */
    padding-bottom: 20px;
}

.normalText{
    font: normal normal normal 24px/28px Orkney;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

/*
body {
    background-image: url(svgpattern.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: auto, -50%;
} */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    /* The slider */
    .slider_switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider_switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider_switch {
    background-color: #2196F3;
    }

    input:focus + .slider_switch {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider_switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider_switch.round {
    border-radius: 34px;
    }

    .slider_switch.round:before {
    border-radius: 50%;
}