<!DOCTYPE html>

<head>
    <meta charset="utf-8" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <link rel="stylesheet" href="stylesheets/index_style.css">
</head>


<body>

    <div align="center">
        <div>
            <h1 class="header">
                Página Inicial do Servidor usando Node.js
            </h1>
        </div>

        <div class="normalText">
            Os ESPs disponíveis conectados ao serivdor aparecerão abaixo:
        </div>
        
        <div style="padding-top: 1cm;", id="procurarEspBotao">
            <button type="button" onclick="searchESPs()">Procurar ESPs</button>
        </div>

        <div id="esps_ativos" class="normalText" style="padding: 1s5px;">
            
        </div>

    </div>

    <script src="javascripts/index_script.js"></script>

</body>